check	TRUE
skip_stage	_____
run_to_stage	_____
i	_____
o	${i}/HybSuite_results
input_list	_____
input_data	_____
output_dir	_____
NGS_dir	${output_dir}/NGS_dataset
t	_____
eas_dir	${output_dir}/01-Assembled_data
prefix	HybSuite
sp_tree	1
gene_tree	1
PH	1
process	1
rm_sra	TRUE
sra_maxsize	20GB
download_format	fastq_gz
trimmomatic_leading_quality	3
trimmomatic_trailing_quality	3
trimmomatic_min_length	36
trimmomatic_sliding_window_s	4
trimmomatic_sliding_window_q	15
hybpiper_mapping_tool	blast
hybpiper_retrieved_seqs_type	dna
hybpiper_cov_cutoff	_____
hybpiper_check_chimeric_contigs	TRUE
hybpiper_skip_chimeric_genes	FALSE
heatmap_color	black
seqs_min_length	0
seqs_mean_length_ratio	0
seqs_max_length_ratio	0
seqs_min_sample_coverage	0
seqs_min_locus_coverage	0
aln_min_length	4
aln_min_sample	5
aln_sample_filter	0
rlwp	2
mafft_algorithm	auto
mafft_adjustdirection	TRUE
mafft_maxiterate	_____
mafft_pair	_____
run_paragone	FALSE
paragone_pool	1
treeshrink_q_value	0.05
paragone_cutoff_value	0.03
paragone_minimum_taxa	4
paragone_min_tips	4
paragone_keep_intermediate_files	TRUE
run_phylopypruner	FALSE
pp_prune	LS
pp_min_taxa	4
pp_min_support	0
pp_trim_lb	5
replace_n	FALSE
trim_tool	1
hmmcleaner_cost	-0.15_-0.08_0.15_0.45
trimal_mode	automated1
trimal_block	_____
trimal_w	_____
trimal_gw	_____
trimal_sw	_____
trimal_resoverlap	_____
trimal_seqoverlap	_____
trimal_gapthreshold	_____
trimal_simthreshold	_____
trimal_cons	_____
run_modeltest_ng	FALSE
gene_tree_bb	1000
iqtree_partition	TRUE
iqtree_bb	1000
iqtree_constraint_tree	_____
iqtree_run_option	undo
iqtree_alrt	1000
raxml_m	GTRGAMMA
raxml_bb	1000
raxml_constraint_tree	_____
rng_bs_trees	1000
rng_force	FALSE
rng_constraint_tree	_____
nt	1
nt_fasterq_dump	1
nt_pigz	1
nt_trimmomatic	1
nt_hybpiper	1
nt_paragone	1
nt_phylopypruner	1
nt_mafft	1
nt_amas	1
nt_modeltest_ng	1
nt_fasttree	1
nt_iqtree	1
nt_raxml_ng	1
nt_raxml	1
nt_astral	1
nt_astral4	1
nt_wastral	1
collapse_threshold	0
astral4_r	4
astral4_s	4
astral_pro_r	4
astral_pro_s	4
wastral_mode	1
wastral_dir	_____
wastral_r	4
wastral_s	4
log_mode	cmd
run_concatenated_step	12
run_coalescent_step	1234
run_phyparts	FALSE
phypartspiecharts_tree_type	cladogram
phypartspiecharts_num_mode	12
report	FALSE
astral4_root	_____
run_treeshrink	FALSE
