input_list	_____
eas_dir	_____
output_dir	_____
paralogs_dir	_____
t	_____
prefix	HybSuite
gene_tree	1
PH	1
process	1
heatmap_color	black
seqs_min_length	0
seqs_mean_length_ratio	0
seqs_max_length_ratio	0
aln_min_length	4
aln_sample_filter	0
aln_locus_filter	0
rlwp	2
mafft_algorithm	auto
mafft_adjustdirection	TRUE
mafft_maxiterate	_____
mafft_pair	_____
run_paragone	FALSE
paragone_tree	fasttree
paragone_pool	1
paragone_treeshrink_q_value	0.05
paragone_cutoff_value	0.03
paragone_minimum_taxa	4
paragone_min_tips	4
paragone_keep_intermediate_files	TRUE
run_phylopypruner	FALSE
pp_prune	LS
pp_min_taxa	4
pp_min_support	0
pp_trim_lb	5
replace_n	FALSE
trim_tool	1
hmmcleaner_cost	-0.15_-0.08_0.15_0.45
trimal_mode	automated1
trimal_block	_____
trimal_w	_____
trimal_gw	_____
trimal_sw	_____
trimal_resoverlap	_____
trimal_seqoverlap	_____
trimal_gapthreshold	_____
trimal_simthreshold	_____
trimal_cons	_____
gene_tree_bb	1000
iqtree_alrt	1000
nt	1
nt_paragone	1
nt_phylopypruner	1
nt_mafft	1
nt_amas	1
nt_fasttree	1
nt_iqtree	1
log_mode	cmd
check	TRUE
