input_list	_____
aln_dir	_____
output_dir	_____
prefix	HybSuite
sp_tree	0
gene_tree	1
PH	1
process	1
run_phylopypruner	FALSE
pp_prune	LS
pp_min_taxa	4
pp_min_support	0
pp_trim_lb	5
replace_n	FALSE
run_modeltest_ng	FALSE
gene_tree_bb	1000
iqtree_partition	TRUE
iqtree_bb	1000
iqtree_constraint_tree	_____
iqtree_run_option	undo
iqtree_alrt	1000
raxml_m	GTRGAMMA
raxml_bb	1000
raxml_constraint_tree	_____
rng_bs_trees	1000
rng_force	FALSE
rng_constraint_tree	_____
nt	1
nt_amas	1
nt_modeltest_ng	1
nt_fasttree	1
nt_iqtree	1
nt_raxml_ng	1
nt_raxml	1
nt_astral4	1
nt_wastral	1
nt_astral_pro	1
astral_pro_r	4
astral_pro_s	4
collapse_threshold	0
astral4_r	4
astral4_s	4
wastral_mode	1
wastral_dir	_____
wastral_r	4
wastral_s	4
log_mode	cmd
check	TRUE
run_phyparts	FALSE
phypartspiecharts_tree_type	cladogram
phypartspiecharts_num_mode	12
trim_tool	1
hmmcleaner_cost	-0.15_-0.08_0.15_0.45
trimal_mode	automated1
trimal_block	_____
trimal_w	_____
trimal_gw	_____
trimal_sw	_____
trimal_resoverlap	_____
trimal_seqoverlap	_____
trimal_gapthreshold	_____
trimal_simthreshold	_____
trimal_cons	_____
mafft_algorithm	auto
mafft_adjustdirection	TRUE
mafft_maxiterate	_____
mafft_pair	_____
