input_list	_____
input_data	_____
output_dir	_____
NGS_dir	${output_dir}/NGS_dataset
log_mode	cmd
check	TRUE
nt	1
nt_fasterq_dump	1
nt_pigz	1
nt_trimmomatic	1
process	1
rm_sra	TRUE
sra_maxsize	20GB
download_format	fastq_gz
trimmomatic_leading_quality	3
trimmomatic_trailing_quality	3
trimmomatic_min_length	36
trimmomatic_sliding_window_s	4
trimmomatic_sliding_window_q	15
