input_list	_____
input_data	_____
NGS_dir	_____
t	_____
output_dir	_____
eas_dir	${output_dir}/01-Assembled_data
log_mode	cmd
check	TRUE
nt	1
nt_hybpiper	1
nt_mafft	1
process	1
hybpiper_mapping_tool	blast
hybpiper_check_chimeric_contigs	TRUE
heatmap_color	black
seqs_min_length	0
seqs_mean_length_ratio	0
seqs_max_length_ratio	0
seqs_min_sample_coverage	0
seqs_min_locus_coverage	0
mafft_algorithm	auto
mafft_adjustdirection	TRUE
mafft_maxiterate	_____
mafft_pair	_____
trimal_mode	automated1
trimal_block	_____
trimal_w	_____
trimal_gw	_____
trimal_sw	_____
trimal_resoverlap	_____
trimal_seqoverlap	_____
trimal_gapthreshold	_____
trimal_simthreshold	_____
trimal_cons	_____